# Example Environment Variables
# Copy this file to .env.dev, .env.test, or .env.prod and fill in your values

# Web Configuration
OPPORTUNE_WEB_ADDRESS=http://localhost:8080

# Mail Configuration
OPPORTUNE_MAIL_HOST=localhost
OPPORTUNE_MAIL_PORT=1025
OPPORTUNE_MAIL_USERNAME=
OPPORTUNE_MAIL_PASSWORD=
OPPORTUNE_MAIL_FROM=noreply@opportune.local

# JWT Secret (MUST be changed and hash it into Based64)
OPPORTUNE_JWT_SECRET=bXktc2VjcmV0LWtleS13aGljaC1zaG91bGQtYmUtY2hhbmdlZC1pbi1wcm9kdWN0aW9uLWFuZC1iZS1iYXNlNjQtZW5jb2RlZAo=

# OpenAI API Key (Replace with your actual API key, and ensure it's kept secure)
OPPORTUNE_OPENAI_API_KEY=
