<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title>Opportune activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="|Hi, ${profile.forename} ${profile.surname}|">Dear</p>
<p>Your Opportune account has been created, please click on the URL below to activate it:</p>
<p>
  <a th:href="@{|${baseUrl}/email-validation?code=${code}|}">Activation link</a>
</p>
<p>
  <span>Regards, </span>
  <br />
  <em>JHipster.</em>
</p>
</body>
</html>
