<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title>Opportune - Password Reset Successful</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="|Hi, ${profile.forename} ${profile.surname}|">Dear</p>
<p>
  Your Opportune account password has been successfully reset.
</p>
<p>
  If you did not perform this action, please contact our support team immediately or
  <a th:href="@{|${baseUrl}/password-reset|}">reset your password again</a>.
</p>
<p>
  <span>Regards, </span>
  <br />
  <em>Opportune team.</em>
</p>
</body>
</html>

